<div class="content-section-b">
<div class="container">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<p class="error" ng-show="error">{{ error }}</p>
<p class="message" ng-show="message">{{ message }}</p>
<form name="forget-password" ng-submit="forgetPassword()">
 <div class="form-group" style="margin-top: 20px;">
    <label for="Email">Email address</label>
    <input type="email" class="form-control" placeholder="Email" name="email" ng-required="true" ng-model="user.email" value="">
     <div class="error" ng-show="myform.email.$invalid && myform.email.$touched">You Must Enter a valid Email</div>
  </div>
  <div class="form-group">
    <label for="NewPassword">New Password</label>
    <input type="password" class="form-control" placeholder="Password" name="npass" ng-model="user.npass" ng-minlength="6">
  </div>

   <div class="form-group">
    <label for="ConfirmPassword">Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="cpass" ng-model="user.cpass" ng-minlength="6">
  </div>
    <div class="error" ng-show="myform.password.$invalid && myform.password.$touched">Password must be at least 6 digits</div>
  
   <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</div>
</div>
</div>